<!DOCTYPE html>
html(lang="en")
  head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title WHITEWHALE 

      link(rel="icon", type="image/png", href="imgs/logo.png")
      link(rel="stylesheet", href="css/bootstrap/css/bootstrap.min.css")
      link(rel="stylesheet", href="css/owl.min.css" type="text/css")
      link(rel="stylesheet", href="css/fontAwesome/css/all.min.css")
      link(rel="stylesheet", href="css/lightbox.min.css")
      link(rel="stylesheet", href="css/main.css")
      
  body  
    nav.navbar.navbar-expand-lg.navbar-light.bg-none.tpNav.mb-0.w-100.bg-dark.shadow-lg.fixed-top
      a.navbar-brand(href="#")
        img(src="../imgs/logo.png", alt="")
      button.navbar-toggler(data-target='#my-nav', data-toggle='collapse', aria-controls='my-nav', aria-expanded='false', aria-label='Toggle navigation', style="border: none")
          span.navbar-toggler-icon
      .collapse.navbar-collapse#my-nav
          ul.navbar-nav.ml-auto
              li.nav-item
                  a.nav-link(href='#') Home
              li.nav-item
                  a.nav-link(href='#ContactUs') Contact Us
              li.nav-item
                  a.nav-link(href='#Services') Services
                    
    
    section.banner.owl-carousel
      .bannerChildWrap.d-flex.justify-content-center.align-items-center.set-bg(data-setbg="../imgs/bannerBg/BannerB1g.jpg")
        .ctn
          h1.mb-1.logo "Don't Wait to buy real estate,
            br
            span buy Real Estate and wait "
            br
            span
            span.text-right.author -T. Harv Eker
           

      .bannerChildWrap.d-flex.justify-content-center.align-items-center.set-bg(data-setbg="../imgs/bannerBg/BannerB2g.jpg")
        .ctn
          h1.mb-1.logo "The Wise Young Man ,
            br
            span of today invests in Real Estate"
            br
            span.text-right.author -ANDREW CARNEGIE
        
         
    
    //- PORTFOLIO SECTION 
    section.profolio
      .container
        .pt_tp.text-center
          small.small TAKE A TOUR 
          h2.topLead.text-center  ADVERTISEMENT  
          
        .pt_showCase
          .container
            .showCase_grid.owl-carousel
              .boxImg
                a(href="imgs/adverts/advert1.jpg", data-title='mygallery' data-lightbox='real estate')
                  img(src="imgs/adverts/advert1.jpg", alt="work1")

              .boxImg
                a(href="imgs/adverts/advert2.jpg" data-lightbox='real estate' data-title='real estate')
                  img(src="imgs/adverts/advert2.jpg", alt="work1")

              .boxImg
                a(href="imgs/adverts/advert3.jpg" data-lightbox='real estate1' data-title='real estate')
                  img(src="imgs/adverts/advert3.jpg", alt="work1")
                
              .boxImg 
                a(href="imgs/adverts/advert4.jpg", data-title='mygallery' data-lightbox='real estate')     
                  img(src="imgs/adverts/advert4.jpg", alt="work1")

              .boxImg 
                a(href="imgs/adverts/advert5.jpg", data-title='mygallery' data-lightbox='real estate')   
                  img(src="imgs/adverts/advert5.jpg", alt="work1")
              .boxImg  
                a(href="imgs/adverts/advert6.jpg", data-title='mygallery' data-lightbox='real estate')    
                  img(src="imgs/adverts/advert6.jpg", alt="work1")

              .boxImg 
                a(href="imgs/adverts/advert7.jpg", data-title='mygallery' data-lightbox='real estate')   
                  img(src="imgs/adverts/advert7.jpg", alt="work1")

              .boxImg
                a(href="imgs/adverts/advert8.jpg", data-title='mygallery' data-lightbox='real estate')      
                  img(src="imgs/adverts/advert8.jpg", alt="work1")

              .boxImg
                a(href="imgs/adverts/advert9.jpg", data-title='mygallery' data-lightbox='real estate')        
                  img(src="imgs/adverts/advert9.jpg", alt="work1")

        .pt_tp.text-center
          small.small MAKE A CHOICE
          h2.topLead.text-center  PROPERTIES

        .pt_showCase
          .container
            .showCase_grid.owl-carousel
              .boxImg
                a(href="imgs/interiors/interior1.jpg", data-title='mygallery' data-lightbox='real estate')      
                  img(src="imgs/interiors/interior1.jpg", alt="work1")

              .boxImg
                a(href="imgs/interiors/interior2.jpg", data-title='mygallery' data-lightbox='real estate')      
                  img(src="imgs/interiors/interior2.jpg", alt="work1")
                
              .boxImg
                a(href="imgs/interiors/interior3.jpg", data-title='mygallery' data-lightbox='real estate')        
                  img(src="imgs/interiors/interior3.jpg", alt="work1")
              .boxImg  
                a(href="imgs/interiors/interior4.jpg", data-title='mygallery' data-lightbox='real estate')      
                  img(src="imgs/interiors/interior4.jpg", alt="work1")
              .boxImg  
                a(href="imgs/interiors/interior5.jpg", data-title='mygallery' data-lightbox='real estate')      
                  img(src="imgs/interiors/interior5.jpg", alt="work1")
              .boxImg
                a(href="imgs/interiors/interior6.jpg", data-title='mygallery' data-lightbox='real estate')        
                  img(src="imgs/interiors/interior6.jpg", alt="work1")
              .boxImg
                a(href="imgs/interiors/interior7.jpg", data-title='mygallery' data-lightbox='real estate')      
                  img(src="imgs/interiors/interior7.jpg", alt="work1")
              .boxImg
                a(href="imgs/interiors/interior8.jpg", data-title='mygallery' data-lightbox='real estate')      
                  img(src="imgs/interiors/interior8.jpg", alt="work1")
              .boxImg
                a(href="imgs/interiors/interior9.jpg", data-title='mygallery' data-lightbox='real estate')      
                  img(src="imgs/interiors/interior9.jpg", alt="work1")
              .boxImg
                a(href="imgs/interiors/interior10.jpg", data-title='mygallery' data-lightbox='real estate')         
                  img(src="imgs/interiors/interior10.jpg", alt="work1")
              .boxImg
                a(href="imgs/interiors/interior11.jpg", data-title='mygallery' data-lightbox='real estate')         
                  img(src="imgs/interiors/interior11.jpg", alt="work1")
              .boxImg
                a(href="imgs/interiors/interior12.jpg", data-title='mygallery' data-lightbox='real estate')      
                  img(src="imgs/interiors/interior12.jpg", alt="work1")
              .boxImg 
                a(href="imgs/interiors/interior13.jpg", data-title='mygallery' data-lightbox='real estate')      
                  img(src="imgs/interiors/interior13.jpg", alt="work1")
              .boxImg 
                a(href="imgs/interiors/interior15jpg", data-title='mygallery' data-lightbox='real estate')      
                  img(src="imgs/interiors/interior15.jpg", alt="work1")
              .boxImg
                a(href="imgs/interiors/interior16.jpg", data-title='mygallery' data-lightbox='real estate')      
                  img(src="imgs/interiors/interior16.jpg", alt="work1")
              .boxImg
                a(href="imgs/interiors/interior17.jpg", data-title='mygallery' data-lightbox='real estate')      
                  img(src="imgs/interiors/interior17.jpg", alt="work1")
              .boxImg
                a(href="imgs/interiors/interior18.jpg", data-title='mygallery' data-lightbox='real estate')        
                  img(src="imgs/interiors/interior18.jpg", alt="work1")
        
        .pt_tp.text-center
          small.small MAKE A CHOICE
          h2.topLead.text-center  LANDS


        .pt_showCase
          .container
            .showCase_grid.owl-carousel
              .boxImg
                a(href="imgs/lands/land1.jpg", data-title='mygallery' data-lightbox='real estate')      
                  img(src="imgs/lands/land1.jpg", alt="work1")
              .boxImg
                a(href="imgs/lands/land2.jpg", data-title='mygallery' data-lightbox='real estate')     
                  img(src="imgs/lands/land2.jpg", alt="work1")
              .boxImg
                a(href="imgs/lands/land3.jpg", data-title='mygallery' data-lightbox='real estate')         
                  img(src="imgs/lands/land3.jpg", alt="work1")
              .boxImg
                a(href="imgs/lands/land4.jpg", data-title='mygallery' data-lightbox='real estate')    
                  img(src="imgs/lands/land4.jpg", alt="work1")
              .boxImg
                a(href="imgs/lands/land5.jpg", data-title='mygallery' data-lightbox='real estate')       
                  img(src="imgs/lands/land5.jpg", alt="work1")
              .boxImg
                a(href="imgs/lands/land6.jpg", data-title='mygallery' data-lightbox='real estate')    
                  img(src="imgs/lands/land6.jpg", alt="work1")

    //- About_Me SECTION
    section.SERVICES#Services
      .container.text-center
        small.small OUR SERVICES 
        h2.topLead.text-center SERVICE
        p.cajo We are here to serve you better 
        button(type="button").btn.btn-md-primary.mr-auto.ml-auto.text-white.d-note Read More 

        .oLay
        .floatContent.shadow-sm
          i.fa.fa-times(aria-hidden='true').close
          
          .floatCtn

            p.heading.text-dark

              u Our Services Include 
            ul.text-left     
              li     
                p We help you identify safe land in strategic places in Lagos/Abuja/Port-Harcourt and Ogun  within an estate with avialable plots to buy 
 
              li
                p  We help you process your application for such and and make sure you get your documents after paymemt
              li
                p We help you follow up with the estate developer should you have any concerns are addressed
 
              li
                p We then keep you up-to-date about new document on the land

    section.ContactUS.bg-light#ContactUs
      .container.text-center
        small.small.text-center LET'S TALK 
        h2.topLead.text-center CONTACT US 
        .socialIcons
          .iconWrap
            a(href="http://wa.me/+2347039114530?text=I'm%20interested%20in%20your%20Properties%20for%20sale")
              i.fab.fa-whatsapp(aria-hidden='true')
            a(href="http://www.instagram.com/whitewhale_properties")   
              i.fab.fa-instagram(aria-hidden='true').ml-1
           
                
                

    //- FOOTER SECTION
    section.footer.w-100.d-flex.flex-column.justify-content-between.align-items-center.pb-0.pt-2.position-fixed
      .pInfo.pt-2
        h3.mb-0.text-center 
          smart WHITEWHALE   
          noSmart  AGENT
        p.text-center.mt-0 +234 8130 172 285 | Contact JOHN 
        
      .pCenter
        ul.nav
          li
            a(href="#").mr-2 Home
          li
            a(href="#ContactUs").mr-2 Contact Us
          li
            a(href="#Services") Services
         
      .pOInfo.text-center
        small Email: Whitewhaleproperties2019@gmail.com
        p.last
          i.fa.fa-copyright(aria-hidden='true') WhiteWhale Properties

              
    script(src="js/jquery-3.5.1.min.js")
    script(src="css/bootstrap/js/bootstrap.min.js")
    script(src="js/lightbox-plus-jquery.min.js")
    script(src="js/owl.carousel.min.js")
    script(src="js/main.js")
   
  